entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "markdown-preview"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "main-app"

[[workflows.workflow]]
name = "markdown-preview"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node markdown-preview/server.js"
waitForPort = 3000

[[workflows.workflow]]
name = "main-app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node main-app/src/app.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 33839
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80
